*.pyc
TwitterAuth_override.json
InitialData_Mon_Mar_19_16_15_22_2018*
CombinedData_to_Mon_Mar_19_16_15_22_2018at.sent.arr.json
BAK*_CombinedData_to_Mon_Mar_19_16_15_22_2018at.sent.arr.json
CombinedNoText.arr.json
